.box {
  border: 3px #272324 solid;
  background-color: #83b799;
  margin: 10px 50px;
  padding: 10px 50px;
}

.item {
  background-color: #e86f68;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

body {
  background-color: #e4dbb4;
  font-family: 'Roboto', sans-serif;
}

.box2 {
  margin-bottom: 100px;
}

.box1 {
  margin-top: 100px;
}
